.digitalLab {

    @media (max-width: 767px) {
        padding-top: 3.75em;
    }

    @media (min-width: 768px) {
        background-image: url("../img/digitalLab_bg.svg");
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__left {
        @media (min-width: 768px) {
            margin-right: 6em;
        }
    }

    &__row {
        @media (min-width: 768px) {
            display: flex;
        }

    }

    &__macbook {
        background-image: url("../img/macbook.png");

        width: 50.3125em;
        height: 32.5em;
        font-size: 0.425em;
        margin: 0 auto;

        @media (min-width: 768px) {
            font-size: 1em;
            margin: 6.5em 0 0;
            position: relative;

        }

        .chart {
            width: 38.75em;
            height: 21.875em;
            top: 10.3em;
            left: 8em;

            @media (min-width: 768px) {
                top: 1.375em;
                /* 22/16 */
                left: 5.4375em;
                /* 87/16 */

            }
        }

    }

    &__col {
        margin-top: -0.25em;
        margin-left: 2em;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        @media (min-width: 768px) {
            margin-top: -2.5em;
            margin-left: 0;

            display: block;
        }
    }

    &__pwa {
        position: relative;
        background-image: url("../img/pwa.png");
        width: 9.1875em;
        height: 9.1875em;
        font-size: 1em;
        margin-top: 2.5em;
        border-radius: 100%;

        margin-left: 2em;

        @media (min-width:768px) {
            margin-bottom: 3em;
            margin-left: 1.125em;
        }

        .blink {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;
            list-style: none;

            li {
                position: absolute;
                top: 10%;
                left: 1%;

                display: block;
                width: 1.5em;
                height: 1.5em;

                background-image: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%), linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%), linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);

                -webkit-animation: blink 8s linear infinite;
                animation: blink 8s linear infinite;
                transform: scale(0, 0) rotate(0deg);

                &:nth-child(1) {
                    top: 66%;
                    left: 10%;
                    animation-delay: 7s;
                    -webkit-animation-delay: 7s;
                }

                &:nth-child(2) {
                    top: 20%;
                    left: 48%;
                    animation-delay: 4s;
                    -webkit-animation-delay: 4s;
                }

                &:nth-child(3) {
                    top: 36%;
                    left: 1%;
                    animation-delay: 3s;
                    -webkit-animation-delay: 3s;
                }

                &:nth-child(4) {
                    top: 58%;
                    left: 45%;
                    animation-delay: 2s;
                    -webkit-animation-delay: 2s;
                }

                &:nth-child(5) {
                    top: 41%;
                    left: 69%;
                    animation-delay: 1s;
                    -webkit-animation-delay: 1s;
                }

                &:nth-child(6) {
                    top: 8%;
                    left: 19%;
                    animation-delay: 5s;
                    -webkit-animation-delay: 5s;
                }

                &:nth-child(7) {
                    top: 33%;
                    left: 27%;
                    animation-delay: 6s;
                    -webkit-animation-delay: 6s;
                }

            }
        }
    }

    &__iphone {
        position: relative;
        background-image: url("../img/iphone.png");
        width: 10.625em;
        height: 31.875em;
        font-size: 0.6em;

        .chart {
            width: 8.5625em;
            height: 20.5em;
            top: 0.6875em;
            left: 1.1875em;
            border-radius: 1em;
            overflow: hidden;

        }

        @media (min-width: 768px) {
            font-size: 1em;
        }

    }

    &__right {
        margin-top: -4em;
        @media (min-width: 768px) {
            margin-top: 0;
            width: 40.875em;
        }
    }

    &__label {

        @media (min-width: 768px) {
            position: absolute;
            right: 1em;
            bottom: 0;

            span {
                font-size: 0.75em;
                color: rgba($color_white, 0.7);
            }

        }
    }

}

@-webkit-keyframes blink {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }

    20% {
        transform: scale(0, 0) rotate(160deg);
    }

    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}
@keyframes blink {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }

    20% {
        transform: scale(0, 0) rotate(160deg);
    }

    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}
