extends ../layout/layout.pug
block variable
    -var path = '../';
    -var classHeader = 'header_primary header_primary_active';

    //- -var classScroll = 'main_scroll';
    //- -var pageScroll = false;


block content
    // begin breadcrumbs
    .breadcrumbs.breadcrumbs_dark.section
        .container_center
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span.kb_title Доставка и заказ

    // end breadcrumbs

    // begin delivery
    section#delivery.delivery.section.pt.section_changeTheme.animate_bg
        .container_center
            h1.section__title.section__title_black
                span Доставка и заказ
            .delivery__content
                .section__content.section__content_black
                    .delivery__label
                        span Доставка по России, в страны СНГ и Таможенного союза

                    p Доставка по России, в страны СНГ и Таможенного союза.
                    p Доставка до Заказчика производится транспортными компаниями: Деловые линии, DPD, Байкал-Сервис, Желдорэкспедиция, КиТ и др. 
                    p Стоимость доставки каждого заказа рассчитывается индивидуально, исходя из региона и массогабаритных характеристик итогового заказа. 
                    p Продукция отгружается в упаковке по качеству соответствующей ГОСТ и ТУ, что подтверждается соответствующими документами.
                .delivery__contacts
                    .delivery__title
                        span Наши контакты
                    .contacts
                        .contacts__list
                            .contacts__item
                                i.icon_phone
                                span.desktop 8 (800) 51 11 202
                                a.mobile(href="tel:+8 (800) 51 11 202") 8 (800) 51 11 202

                            .contacts__item
                                i.icon_mail
                                span.desktop info@robiclab.ru
                                a.mobile(href="mailto:info@robiclab.ru") info@robiclab.ru

                            .contacts__item
                                i.icon_location
                                span Россия г. Санкт-Петербург, ул. Парковая, 4 оф 325

            .delivery__form
                // begin form
                .form__content.bg.figure
                    ul.figure__list.figure__list_form-row
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li
                        li

                    .form__title
                        span Оформление заказа

                    .form__subtitle
                        span Для заказа оборудования заполните форму обратной связи, и мы ответим Вам в кратчайшее время. Наши специалисты помогут<br> в оформлении заказа и, если необходимо, окажут помощь в составлении аукционной (тендерной) документации.

                    form.form.form_row(action="send.php")
                        input(type="hidden" name="subject" value="форма в футоре")
                        input(type="hidden" name="notspam" value="")


                        .form__row
                            .form__label
                                span Ваше имя*
                            input(type="text" required placeholder="Ввведите ваше имя")


                        .form__row
                            .form__label
                                span Телефон*
                            input(type="text" class="tel" required placeholder="+7 000 000 000")


                        .form__row
                            .form__label
                                span Ваша почта*
                            input(type="email" required placeholder="Ввведите ваш email")


                        .form__row
                            .button
                                button.btn(type="submit")
                                    span Отправить

                        .form__row.form__row_full
                            .form__text
                                span Нажимая кнопку «Отправить» вы соглашаетесь с обработой ваших персональных данных и принимаете <a href="#">политику конфендициальности</a>

                // end form


    // end delivery

    //- // begin order
    //- section#order.order.section.section_changeTheme
    //-     .container_center
    //-         .order__form
    //-             // begin form
    //-             .form__content.bg.figure
    //-                 ul.figure__list.figure__list_form-row
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //-                     li
    //- 
    //-                 .form__title
    //-                     span Оформление заказа
    //- 
    //-                 .form__subtitle
    //-                     span Для заказа оборудования заполните форму обратной связи, и мы ответим Вам в кратчайшее время. Наши специалисты помогут<br> в оформлении заказа и, если необходимо, окажут помощь в составлении аукционной (тендерной) документации.
    //- 
    //-                 form.form.form_row(action="send.php")
    //-                     input(type="hidden" name="subject" value="форма в футоре")
    //-                     input(type="hidden" name="notspam" value="")
    //- 
    //- 
    //-                     .form__row
    //-                         .form__label
    //-                             span Ваше имя*
    //-                         input(type="text" required placeholder="Ввведите ваше имя")
    //- 
    //- 
    //-                     .form__row
    //-                         .form__label
    //-                             span Телефон*
    //-                         input(type="text" class="tel" required placeholder="+7 000 000 000")
    //- 
    //- 
    //-                     .form__row
    //-                         .form__label
    //-                             span Ваша почта*
    //-                         input(type="email" required placeholder="Ввведите ваш email")
    //- 
    //- 
    //-                     .form__row
    //-                         .button
    //-                             button.btn(type="submit")
    //-                                 span Отправить
    //- 
    //-                     .form__row.form__row_full
    //-                         .form__text
    //-                             span Нажимая кнопку «Отправить» вы соглашаетесь с обработой ваших персональных данных и принимаете <a href="#">политику конфендициальности</a>
    //- 
    //-             // end form
    //- 
    //- 
    //- 
    //- // end order

    // begin FeedbackForm
    //- section#FeedbackForm.FeedbackForm.section
    //-     .container_center
    //-         // begin form
    //-         .form__content.bg.figure
    //-             ul.figure__list.figure__list_form-grid
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //-                 li
    //- 
    //-             .form__title
    //-                 span Форма обратной связи
    //- 
    //-             .form__subtitle
    //-                 span Заполните форму обратной связи и задайте нам свой вопрос. Наши менеджеры свяжутся с вами в ближайшее время.
    //- 
    //-             form.form.form_grid(action="send.php")
    //-                 input(type="hidden" name="subject" value="форма в футоре")
    //-                 input(type="hidden" name="notspam" value="")
    //- 
    //- 
    //-                 .form__row
    //-                     .form__label
    //-                         span Ваше имя*
    //-                     input(type="text" required placeholder="Ввведите ваше имя")
    //- 
    //-                 .form__row
    //-                     .form__label
    //-                         span Телефон*
    //-                     input(type="text" class="tel" required placeholder="+7 000 000 000")
    //- 
    //- 
    //-                 .form__row
    //-                     .form__label
    //-                         span Ваша почта*
    //-                     input(type="email" required placeholder="Ввведите ваш email")
    //- 
    //- 
    //-                 .form__row.form__row_textarea
    //-                     .form__label
    //-                         span Ваше сообщение
    //-                     textarea(type="text" placeholder="Ввведите ваше сообщение")
    //- 
    //- 
    //-                 .form__row
    //-                     .button
    //-                         button.btn(type="submit")
    //-                             span Отправить
    //- 
    //-                 .form__row
    //-                     .form__text
    //-                         span Нажимая кнопку «Отправить» вы соглашаетесь с обработой ваших персональных данных и принимаете <a href="#">политику конфендициальности</a>


        // end form


    // end FeedbackForm
