{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1672077120095.4478,
          "ctimeMs": 1672077120095.4478,
          "date": "2022-12-26T17:52:00.603Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1672036278599.041,
          "date": "2022-12-26T06:38:50.805Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1672078288039.3772,
          "ctimeMs": 1672078288039.3772,
          "date": "2022-12-26T18:11:28.546Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237587.0317,
          "date": "2022-12-26T06:38:51.385Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237590.2585,
          "date": "2022-12-26T06:38:51.651Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237588.6077,
          "date": "2022-12-26T06:38:51.874Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237585.4753,
          "date": "2022-12-26T06:38:52.056Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237583.039,
          "date": "2022-12-26T06:38:52.269Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237578.3123,
          "date": "2022-12-26T06:38:52.486Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237580.67,
          "date": "2022-12-26T06:38:52.704Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237577.5247,
          "date": "2022-12-26T06:38:52.889Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.eot",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1672036237583.7942,
          "date": "2022-12-26T06:38:53.103Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.ttf",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1672036237576.687,
          "date": "2022-12-26T06:38:53.310Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1672036237587.8582,
          "date": "2022-12-26T06:38:53.518Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff2",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1672036237581.462,
          "date": "2022-12-26T06:38:53.709Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237584.5742,
          "date": "2022-12-26T06:38:53.969Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237582.2715,
          "date": "2022-12-26T06:38:54.230Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237579.8909,
          "date": "2022-12-26T06:38:54.420Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237579.0994,
          "date": "2022-12-26T06:38:54.625Z"
        },
        {
          "file": "fonts/Roboto/demo.html",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237589.4258,
          "date": "2022-12-26T06:38:54.786Z"
        },
        {
          "file": "fonts/Roboto/stylesheet.css",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1672036237586.1797,
          "date": "2022-12-26T06:38:54.937Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.eot",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1672036237562.9949,
          "date": "2022-12-26T06:38:55.139Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.ttf",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1672036237566.9229,
          "date": "2022-12-26T06:38:55.340Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1672036237562.2732,
          "date": "2022-12-26T06:38:55.542Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237566.1223,
          "date": "2022-12-26T06:38:55.741Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237573.5042,
          "date": "2022-12-26T06:38:55.952Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237569.3818,
          "date": "2022-12-26T06:38:56.153Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237563.781,
          "date": "2022-12-26T06:38:56.340Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237570.9648,
          "date": "2022-12-26T06:38:56.536Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237564.518,
          "date": "2022-12-26T06:38:56.783Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237561.4465,
          "date": "2022-12-26T06:38:57.026Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237565.3179,
          "date": "2022-12-26T06:38:57.245Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237571.8027,
          "date": "2022-12-26T06:38:57.451Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237570.1516,
          "date": "2022-12-26T06:38:57.651Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237574.327,
          "date": "2022-12-26T06:38:57.854Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237575.1155,
          "date": "2022-12-26T06:38:58.073Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237568.5796,
          "date": "2022-12-26T06:38:58.252Z"
        },
        {
          "file": "fonts/Roboto_Slab/demo.html",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237572.7065,
          "date": "2022-12-26T06:38:58.401Z"
        },
        {
          "file": "fonts/Roboto_Slab/stylesheet.css",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1672036237567.7444,
          "date": "2022-12-26T06:38:58.552Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.485,
          "date": "2022-12-26T17:59:02.714Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.5183,
          "date": "2022-12-26T17:59:02.881Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.4524,
          "date": "2022-12-26T17:59:03.124Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.4187,
          "date": "2022-12-26T17:59:03.263Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.3154,
          "date": "2022-12-26T17:59:03.420Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.3508,
          "date": "2022-12-26T17:59:03.581Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.6914,
          "date": "2022-12-26T17:59:03.772Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.7249,
          "date": "2022-12-26T15:34:57.336Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.6223,
          "date": "2022-12-26T17:59:03.956Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1672068874000,
          "ctimeMs": 1672068886171.6582,
          "date": "2022-12-26T17:59:04.141Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666358151865.4297,
          "ctimeMs": 1672036237522.8115,
          "date": "2022-12-26T06:39:00.550Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1672078221404.0837,
          "ctimeMs": 1672078221404.0837,
          "date": "2022-12-26T18:10:21.806Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1672036237526.06,
          "date": "2022-12-26T06:39:00.865Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1672036237524.016,
          "date": "2022-12-26T06:39:00.983Z"
        },
        {
          "file": "fonts/inter/Inter-Black.eot",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556748.3696,
          "date": "2022-12-26T07:45:06.606Z"
        },
        {
          "file": "fonts/inter/Inter-Black.ttf",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556748.7231,
          "date": "2022-12-26T07:45:06.872Z"
        },
        {
          "file": "fonts/inter/Inter-Black.woff",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556748.423,
          "date": "2022-12-26T07:45:07.090Z"
        },
        {
          "file": "fonts/inter/Inter-Black.woff2",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556747.5386,
          "date": "2022-12-26T07:45:07.314Z"
        },
        {
          "file": "fonts/inter/Inter-Bold.eot",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556747.7515,
          "date": "2022-12-26T07:45:07.596Z"
        },
        {
          "file": "fonts/inter/Inter-Bold.ttf",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556748.2036,
          "date": "2022-12-26T07:45:07.862Z"
        },
        {
          "file": "fonts/inter/Inter-Bold.woff",
          "mtimeMs": 1672040460000,
          "ctimeMs": 1672040556748.4502,
          "date": "2022-12-26T07:45:08.078Z"
        },
        {
          "file": "fonts/inter/Inter-Bold.woff2",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556748.3425,
          "date": "2022-12-26T07:45:08.296Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraBold.eot",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556748.8367,
          "date": "2022-12-26T07:45:08.587Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraBold.ttf",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556748.5256,
          "date": "2022-12-26T07:45:08.910Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraBold.woff",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556747.497,
          "date": "2022-12-26T07:45:09.121Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraBold.woff2",
          "mtimeMs": 1672040464000,
          "ctimeMs": 1672040556748.2256,
          "date": "2022-12-26T07:45:09.323Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraLight.eot",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556748.7832,
          "date": "2022-12-26T07:45:09.597Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraLight.ttf",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556748.5862,
          "date": "2022-12-26T07:45:09.871Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraLight.woff",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556747.691,
          "date": "2022-12-26T07:45:10.086Z"
        },
        {
          "file": "fonts/inter/Inter-ExtraLight.woff2",
          "mtimeMs": 1672040462000,
          "ctimeMs": 1672040556747.721,
          "date": "2022-12-26T07:45:10.289Z"
        },
        {
          "file": "fonts/inter/Inter-Light.eot",
          "mtimeMs": 1672040458000,
          "ctimeMs": 1672040556748.2607,
          "date": "2022-12-26T07:45:10.544Z"
        },
        {
          "file": "fonts/inter/Inter-Light.ttf",
          "mtimeMs": 1672040458000,
          "ctimeMs": 1672040556747.6304,
          "date": "2022-12-26T07:45:10.791Z"
        },
        {
          "file": "fonts/inter/Inter-Light.woff",
          "mtimeMs": 1672040458000,
          "ctimeMs": 1672040556747.839,
          "date": "2022-12-26T07:45:11.028Z"
        },
        {
          "file": "fonts/inter/Inter-Light.woff2",
          "mtimeMs": 1672040458000,
          "ctimeMs": 1672040556748.0024,
          "date": "2022-12-26T07:45:11.645Z"
        },
        {
          "file": "fonts/inter/Inter-Medium.eot",
          "mtimeMs": 1672040456000,
          "ctimeMs": 1672040556748.054,
          "date": "2022-12-26T07:45:12.315Z"
        },
        {
          "file": "fonts/inter/Inter-Medium.ttf",
          "mtimeMs": 1672040456000,
          "ctimeMs": 1672040556747.4353,
          "date": "2022-12-26T07:45:13.302Z"
        },
        {
          "file": "fonts/inter/Inter-Medium.woff",
          "mtimeMs": 1672040456000,
          "ctimeMs": 1672040556748.81,
          "date": "2022-12-26T07:45:14.139Z"
        },
        {
          "file": "fonts/inter/Inter-Medium.woff2",
          "mtimeMs": 1672040458000,
          "ctimeMs": 1672040556747.3657,
          "date": "2022-12-26T07:45:14.858Z"
        },
        {
          "file": "fonts/inter/Inter-Regular.eot",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556747.9033,
          "date": "2022-12-26T07:45:15.112Z"
        },
        {
          "file": "fonts/inter/Inter-Regular.ttf",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556748.3154,
          "date": "2022-12-26T07:45:15.368Z"
        },
        {
          "file": "fonts/inter/Inter-Regular.woff",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556747.7825,
          "date": "2022-12-26T07:45:15.603Z"
        },
        {
          "file": "fonts/inter/Inter-Regular.woff2",
          "mtimeMs": 1672040468000,
          "ctimeMs": 1672040556747.5989,
          "date": "2022-12-26T07:45:15.821Z"
        },
        {
          "file": "fonts/inter/Inter-SemiBold.eot",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556748.667,
          "date": "2022-12-26T07:45:16.099Z"
        },
        {
          "file": "fonts/inter/Inter-SemiBold.ttf",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556748.863,
          "date": "2022-12-26T07:45:16.380Z"
        },
        {
          "file": "fonts/inter/Inter-SemiBold.woff",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556747.9546,
          "date": "2022-12-26T07:45:16.603Z"
        },
        {
          "file": "fonts/inter/Inter-SemiBold.woff2",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556748.2869,
          "date": "2022-12-26T07:45:16.820Z"
        },
        {
          "file": "fonts/inter/Inter-Thin.eot",
          "mtimeMs": 1672040464000,
          "ctimeMs": 1672040556747.5696,
          "date": "2022-12-26T07:45:17.206Z"
        },
        {
          "file": "fonts/inter/Inter-Thin.ttf",
          "mtimeMs": 1672040464000,
          "ctimeMs": 1672040556748.1687,
          "date": "2022-12-26T07:45:17.525Z"
        },
        {
          "file": "fonts/inter/Inter-Thin.woff",
          "mtimeMs": 1672040464000,
          "ctimeMs": 1672040556747.6606,
          "date": "2022-12-26T07:45:17.786Z"
        },
        {
          "file": "fonts/inter/Inter-Thin.woff2",
          "mtimeMs": 1672040466000,
          "ctimeMs": 1672040556748.1309,
          "date": "2022-12-26T07:45:18.046Z"
        },
        {
          "file": "fonts/inter/demo.html",
          "mtimeMs": 1672040468000,
          "ctimeMs": 1672040556748.754,
          "date": "2022-12-26T07:45:18.236Z"
        },
        {
          "file": "fonts/inter/stylesheet.css",
          "mtimeMs": 1672040468000,
          "ctimeMs": 1672040556748.397,
          "date": "2022-12-26T07:45:18.378Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1672036830326.9045,
          "ctimeMs": 1672040616700.6296,
          "date": "2022-12-26T07:45:19.259Z"
        },
        {
          "file": "css/onepage-scroll.css",
          "mtimeMs": 1588864508000,
          "ctimeMs": 1672044413303.7605,
          "date": "2022-12-26T08:51:37.904Z"
        },
        {
          "file": "home/index.html",
          "mtimeMs": 1672077341067.3516,
          "ctimeMs": 1672077341067.3516,
          "date": "2022-12-26T17:55:41.405Z"
        },
        {
          "file": "js/jquery.onepage-scroll.min.js",
          "mtimeMs": 1588864508000,
          "ctimeMs": 1672044401418.8616,
          "date": "2022-12-26T08:51:38.490Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1672044718270.4714,
          "ctimeMs": 1672044718270.8132,
          "date": "2022-12-26T08:54:29.576Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1672044734222.1152,
          "ctimeMs": 1672044734222.3352,
          "date": "2022-12-26T08:54:29.719Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1672044723774.7751,
          "ctimeMs": 1672044723775.1025,
          "date": "2022-12-26T08:54:30.065Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1672044792967.0933,
          "ctimeMs": 1672044792967.446,
          "date": "2022-12-26T08:54:30.235Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1672044946545.5803,
          "ctimeMs": 1672044946545.5803,
          "date": "2022-12-26T08:55:46.882Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1672044783462.5444,
          "ctimeMs": 1672044783462.8125,
          "date": "2022-12-26T08:54:30.883Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1672044974431.9854,
          "ctimeMs": 1672044974432.2524,
          "date": "2022-12-26T09:43:18.780Z"
        },
        {
          "file": "img/digitalLab_bg.svg",
          "mtimeMs": 1672074192122.468,
          "ctimeMs": 1672074654778.3909,
          "date": "2022-12-26T17:59:04.279Z"
        },
        {
          "file": "img/firstscreen_bg.jpg",
          "mtimeMs": 1672055599793.6099,
          "ctimeMs": 1672055777211.2876,
          "date": "2022-12-26T17:59:04.452Z"
        },
        {
          "file": "img/mask.svg",
          "mtimeMs": 1672077249568.3804,
          "ctimeMs": 1672077371292.9802,
          "date": "2022-12-26T17:59:04.580Z"
        },
        {
          "file": "img/mouse_mask.svg",
          "mtimeMs": 1672075606523.0579,
          "ctimeMs": 1672075985951.0486,
          "date": "2022-12-26T17:59:04.696Z"
        },
        {
          "file": "img/neuro_bg.svg",
          "mtimeMs": 1672074733298.3337,
          "ctimeMs": 1672074772243.1418,
          "date": "2022-12-26T17:59:04.810Z"
        },
        {
          "file": "img/practical_bg.svg",
          "mtimeMs": 1672074902940.5764,
          "ctimeMs": 1672074931060.0034,
          "date": "2022-12-26T17:59:04.929Z"
        },
        {
          "file": "img/robotics_bg.svg",
          "mtimeMs": 1672075051460.2957,
          "ctimeMs": 1672075077372.8867,
          "date": "2022-12-26T17:59:05.046Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
