.chart-light {
    opacity: 1;
    visibility: visible;
}

.chart-dark {
    opacity: 0;
    visibility: hidden;
}

.dark_theme {
    .chart-light {
        opacity: 0;
        visibility: hidden;
    }

    .chart-dark {
        opacity: 1;
        visibility: visible;
    }

    .following__mask {
        background-image: url("../img/mask_dark.png");

    }

    // ---------------------- SECTION

    .section_changeTheme {
        background-color: $color_dark;
    }

    .section__title_black {
        span {
            color: $color_white;
            transition: 0.3s;
        }
    }

    .section__content_black {
        p {
            color: $color_white;
            transition: 0.3s;
        }
    }

    // ---------------------- TABS

    .tabs-wrapper {
        .tabs {
            @media (min-width: 768px) {
                &:after {
                    background-color: rgba($color_white, 0.4);
                }

            }

            .tab {
                color: rgba($color_white, 0.4);

                &:after {
                    border-bottom: 0.1875em solid rgba($color_white, 1);
                }

                &.active {
                    color: rgba($color_white, 1);
                }
            }

        }
    }

    // ---------------------- breadcrumbs_dark
    .breadcrumbs_dark {
        .kama_breadcrumbs {
            a,
            span {
                color: rgba($color_white, 0.6);
            }

            .kb_sep {
                background-color: rgba($color_white, 0.6);
            }
        }
    }

    // ---------------------- equipment
    .equipment {
        &__label {
            span {
                color: $color_white;
            }
        }

        &__item {
            span {
                color: $color_dark_text;
            }
        }

        &__icon {

            background-color: $color_dark_bg;
            color: $color_dark_text;
        }

        &__list {
            &_sensors {
                .equipment__item {
                    background-color: $color_dark_bg;
                }
            }

            &_list {
                .equipment__item {
                    &:before {
                        background-color: $color_dark_text;

                    }
                }
            }
        }

        &__link {
            color: $color_white;

            &:before {
                color: $color_white;
            }
        }
    }

    // ---------------------- delivery
    .delivery__label {
        span {
            color: $color_white;
        }
    }

    .delivery__title {
        span {
            color: $color_white;
        }
    }

    .delivery__contacts {
        background-color: $color_dark_bg;
        // box-shadow: rgba($color_dark_bg;, 0.2) 0 8px 24px;
    }

    // ---------------------- delivery
    .delivery {
        .contacts {
            &__item {
                i {
                    background-color: #3A3D47;
                    color: $color_dark_text;

                }

                span {
                    color: $color_dark_text;
                    transition: 0.3s;
                }

                a {
                    color: $color_dark_text;

                }
            }
        }
    }

}
