.chart-light {
    opacity: 1;
    visibility: visible;
}

.chart-dark {
    opacity: 0;
    visibility: hidden;
}

.dark_theme {
    .chart-light {
        opacity: 0;
        visibility: hidden;
    }

    .chart-dark {
        opacity: 1;
        visibility: visible;
    }
}
