.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background: rgba(220, 233, 255, 0.15);
	backdrop-filter: blur(22px);

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0.938em 0;
		@media (min-width: 768px) {
			padding: 1.25em 0 1.625em;

		}

	}

	&__content {}

	&__col {
		@media (min-width: 768px) {
			display: flex;
		}

		&_switch {
			@media (min-width: 768px) {
				position: absolute;
				top: 2.125em;
				right: 16em;

			}
		}

		.logo {
			display: block;
			width: 7.8125em;
			height: 2.3125em;

			@media (min-width: 768px) {
				width: 11.375em;
				height: 3.625em;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.search {
			@media (min-width: 768px) {
				width: 38.25em;
				margin-right: 2em;
			}

		}

	}

	&__action {}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 3.125em;
		height: 3.125em;
		border-radius: 100%;
		border: 0.0625em solid $color_white;

		cursor: pointer;
		transition: 0.3s;
		font-size: 0.52em;

		@media (min-width: 768px) {
			font-size: 1em;
		}

		> i {
			font-size: 1.25em;
			color: $color_white;
			transition: 0.3s;
		}

		&.active {
			background-color: $color_white;

			> i {
				color: #00B5FF;
			}
		}

	}

	&__content {
		position: absolute;
		cursor: auto;
		border-radius: 0.5em;
		background-color: $color_white;
		box-shadow: 0 10px 25px rgba(38, 50, 68, 0.03);

		opacity: 0;
		visibility: hidden;

		transition: 0.3s;

		width: 21.5625em;
		padding: 1.25em;
		margin-top: 0.5em;

		top: 4.75em;
		left: 50%;
		transform: translateX(-50%);

		@media (min-width: 768px) {
			width: 44.5em;
			padding: 1.75em 2.5em 2.25em;

			top: 7.5em;
			left: 70em;
			transform: none;
		}

		&.active {
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: -1;

			top: -0.75em;

			width: 1.5em;
			height: 1.5em;
			background-color: $color_white;

			transform: rotate(45deg);
			font-size: 0.5em;
			left: 28em;
			@media (min-width: 768px) {
				font-size: 1em;
				left: 12em;
			}
		}

		@media (max-width: 767px) {
			// header__content_search
			&_search {
				&:after {
					left: 34em;

				}
			}

		}
	}

	&__close {
		position: absolute;
		top: 1.375em;
		right: 1.375em;
		text-decoration: none;

		&:after {
			content: '\e919';
			font-family: 'icomoon';
			color: rgba(#08203A, 0.5);
			transition: 0.3s;
			font-size: 1.25em;
		}

		&:hover {
			&:after {
				color: rgba(#08203A, 1);

			}
		}
	}

	&__title {
		margin-bottom: 1.125em;

		span {
			font-weight: 700;
			font-size: 1.125em;
			@media (min-width: 768px) {
				font-size: 1.5em;

			}
		}
	}

	&__list {}

	&__item {
		display: flex;
		align-items: center;

		margin-bottom: 0.625em;

		&:last-child {
			margin-bottom: 0;
		}

		a,
		span {
			color: $main_color;
			text-decoration: none;
			font-size: 1.5em;
			font-weight: 500;
			@media (min-width: 768px) {
				font-size: 1.125em;
				font-weight: 400;

			}
		}

	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2.5em;
		height: 2.5em;
		border-radius: 100%;

		margin-right: 1em;

		background-color: #E7ECF5;
		color: #687789;

		font-size: 0.9em;
		@media (min-width: 768px) {
			font-size: 1em;
		}
	}

	&__toggle {}

	&__label {
		line-height: 1.6;
		margin-top: 0.9375em;
		margin-bottom: 0.625em;
		/* 15/16 */
	}

	&__btn {}

	&__nav {
		border: 1px solid #000;

		position: fixed;
		right: -100vw;
		// right: 0;
		top: 0;
		// bottom: 0;
		// background-color: $color_white;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		overflow: hidden;
		padding: 5em;
		transition: 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);
		opacity: 0;
		background-color: red;

		background-image: url("../img/nav_bg.svg");

		// height: 100%;
		// overflow-y: auto;

		&.active {
			right: 0;
			opacity: 1;
		}

	}

}

// @media (max-width: 767px) {
// .navbar {
// 	position: fixed;
// 	right: -18.75em;
// 	top: 0;
// 	bottom: 0;
// 	background-color: $color_white;
// 	width: 18.75em;
// 	z-index: 10;
// 	overflow: hidden;
// 	padding: 5em 1em 2em;
// 	transition: right 0.3s;
// 	box-shadow: 0 0 1em rgba(#000, .1);
//
// 	// height: 100%;
// 	// overflow-y: auto;
//
// 	.active {
// 		right: 0;
// 	}
// }
// }

// @media (max-width: 767px) {
// 	.nav_open_bg {
// 		background: rgba(0, 110, 255, 0.3);
// 		position: fixed;
// 		top: 0;
// 		// right: 0;
// 		bottom: 0;
// 		left: -11em;
// 		width: 11em;
// 		z-index: 8;
// 		transition: left 0.3s;
//
// 		&_open {
// 			left: 0;
// 		}
// 	}
//
// }

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 768px) {
		display: flex;

	}

	&-item {
		padding-bottom: 0.5em;

		@media (min-width: 768px) {
			margin-right: 0.5em;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-family: $second_font_family;
			color: $main_color;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	&-item-has-children {
		position: relative;

		&:after {
			font-family: 'icomoon';
			content: '\ea36';
			display: inline-block;
			transition: 0.3s;
			transform: rotate(0deg);
			cursor: pointer;
		}

		&:hover {
			&:after {
				transform: rotate(180deg);
			}

			.sub-menu {
				height: auto;
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
	}

}

.sub-menu {
	margin: 0;
	padding: 0.5em 1em 1em;
	list-style: none;

	position: absolute;
	// min-width: 14em;
	width: max-content;
	height: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	top: 130%;
	left: 50%;
	transform: translate(-50%, 0);
	transition: 0.3s;
	background: $color_white;
	z-index: 10;

	a {
		font-size: 0.75em;
	}

	@media (min-width: 768px) {
		box-shadow: 0 0 4px rgb(0 0 0 / 40%);

	}
}

.current-menu-item > a {
	color: $color_success;
}

.nav-open {
	overflow: hidden;
}
