.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background: rgba(220, 233, 255, 0.15);
	backdrop-filter: blur(22px);

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 1.25em;
		padding-bottom: 1.625em;

	}

	&__content {}

	&__col {
		@media (min-width: 768px) {
			display: flex;
		}

		&_switch {
			@media (min-width: 768px) {
				position: absolute;
				top: 2.125em;
				right: 16em;

			}
		}

		.logo {
			display: block;
			width: 11.375em;
			height: 3.5em;

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		.search {
			@media (min-width: 768px) {
				width: 38.25em;
				margin-right: 2em;
			}

		}

	}

	&__action {
		position: relative;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 3.125em;
		height: 3.125em;
		border-radius: 100%;
		border: 0.0625em solid $color_white;

		cursor: pointer;
		transition: 0.3s;

		> i {
			font-size: 1.25em;
			color: $color_white;
			transition: 0.3s;
		}

		&.active {
			background-color: $color_white;

			> i {
				color: #00B5FF;
			}
		}

	}

	&__content {
		position: absolute;
		cursor: auto;
		bottom: -19em;
		left: -11.25em;

		padding: 1.75em 2.5em 2.25em;
		border-radius: 0.5em;

		background-color: $color_white;
		box-shadow: 0 10px 25.1009px rgba(38, 50, 68, 0.03);

		// height: 0;
		opacity: 0;
		transform: translateY(0.5em);
		visibility: hidden;

		transition: 0.3s;

		&.active {
			// height: auto;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		@media (min-width: 768px) {
			width: 44.5em;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: -1;

			top: -0.75em;
			left: 12em;

			width: 1.5em;
			height: 1.5em;
			background-color: $color_white;

			transform: rotate(45deg);
		}
	}

	&__close {
		position: absolute;
		top: 1.375em;
		right: 1.375em;
		text-decoration: none;

		&:after {
			content: '\e919';
			font-family: 'icomoon';
			color: rgba(#08203A, 0.5);
			transition: 0.3s;
		}

		&:hover {
			&:after {
				color: rgba(#08203A, 1);

			}
		}
	}

	&__title {
		margin-bottom: 1.125em;

		span {
			font-weight: 700;
			font-size: 1.5em;
		}
	}

	&__list {}

	&__item {
		display: flex;
		align-items: center;

		margin-bottom: 0.625em;

		&:last-child {
			margin-bottom: 0;
		}

		span {
			font-size: 1.125em;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2.5em;
		height: 2.5em;
		border-radius: 100%;

		margin-right: 1em;

		background-color: #E7ECF5;
		color: #687789;

	}

	&__toggle {}

}

@media (max-width: 767px) {
	.navbar {
		position: fixed;
		right: -18.75em;
		top: 0;
		bottom: 0;
		background-color: $color_white;
		width: 18.75em;
		z-index: 10;
		overflow: hidden;
		padding: 5em 1em 2em;
		transition: right 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);

		// height: 100%;
		// overflow-y: auto;

		&_open {
			right: 0;
		}
	}
}

@media (max-width: 767px) {
	.nav_open_bg {
		background: rgba(0, 110, 255, 0.3);
		position: fixed;
		top: 0;
		// right: 0;
		bottom: 0;
		left: -11em;
		width: 11em;
		z-index: 8;
		transition: left 0.3s;

		&_open {
			left: 0;
		}
	}

}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 768px) {
		display: flex;

	}

	&-item {
		padding-bottom: 0.5em;

		@media (min-width: 768px) {
			margin-right: 0.5em;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-family: $second_font_family;
			color: $main_color;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	&-item-has-children {
		position: relative;

		&:after {
			font-family: 'icomoon';
			content: '\ea36';
			display: inline-block;
			transition: 0.3s;
			transform: rotate(0deg);
			cursor: pointer;
		}

		&:hover {
			&:after {
				transform: rotate(180deg);
			}

			.sub-menu {
				height: auto;
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
	}

}

.sub-menu {
	margin: 0;
	padding: 0.5em 1em 1em;
	list-style: none;

	position: absolute;
	// min-width: 14em;
	width: max-content;
	height: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	top: 130%;
	left: 50%;
	transform: translate(-50%, 0);
	transition: 0.3s;
	background: $color_white;
	z-index: 10;

	a {
		font-size: 0.75em;
	}

	@media (min-width: 768px) {
		box-shadow: 0 0 4px rgb(0 0 0 / 40%);

	}
}

.current-menu-item > a {
	color: $color_success;
}

.nav-open {
	overflow: hidden;
}
