.search {
    width: 100%;

    &-form__inner {
        position: relative;
    }

    input[type=text] {
        width: 100%;
        background-color: transparent;
        border: 0.0625em solid $color_white;
        font-family: $main_font_family;
        color: $color_white;
        padding: 0.875em 1.5em;
        outline: none;
        font-size: 1em;
        font-weight: 500;
        border-radius: 2.875em;
        transition: 0.3s;

        &:hover {
            border: 0.0625em solid $color_white;
            background-color: transparent;
        }

        &:focus {
            border: 0.0625em solid $color_white;
            background-color: transparent;
        }

        &.invalid {
            background-color: transparent;
            border: 0.0625em solid $input_error_border_color;
        }
        // Placeholder for input +++++++++++++++
        @include placeholder {
            color: rgba($color_white, 0.8);
        }
    }

    .btn_search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5em;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;

        i {
            font-size: 1.5em;
            color: rgba($color_white, 1);
        }
    }

    &__toggle {
        color: $color_white;
        cursor: pointer;
        // border: 1px solid #000;
        // padding: 0.25em 0.5em;
        color: $color_white;
        display: inline-block;
        margin-left: 1.375em;
    }

    &__content {
        position: absolute;
        top: 4em;
        left: 50%;

        height: 0;
        opacity: 0;
        visibility: hidden;

        background: $color_white;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);

        transform: translateY(0.5em)translateX(-50%);
        width: 21.5625em;
        padding: 0.25em;
        border-radius: 0.57em;
        z-index: 10;
        transition: 0.3s;

        &:after {
            content: '';
            position: absolute;
            top: -0.625em;
            left: 17em;
            width: 1.25em;
            height: 1.25em;
            background-color: $color_white;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);
            transform: rotate(-45deg);
            z-index: -1;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 15em;
            width: 4.5em;
            height: 1.25em;
            background-color: $color_white;
        }

        &_open {
            height: auto;
            opacity: 1;
            transform: translateY(0)translateX(-50%);
            visibility: visible;
        }
    }

    &__close {
        position: absolute;
        width: 1em;
        height: 1em;
        right: 0.75em;
        top: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            border-top: 0.125em solid;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
