
<!-- Begin Modal compare-->
<div class="modal fade compare" id="compare">
  <div class="modal-dialog">
    <div class="modal-content"><a class="modal-close" href="#" data-dismiss="modal"></a>
      <div class="modal-title"><span>Сравнение наборов лабораторий по математике</span></div>
      <div class="modal-body">
        <div class="modal-table">
          <div class="table">
            <div class="table__head">
              <div class="table__row">
                <div class="table__col"><span>Комплектация</span></div>
                <div class="table__col"><span>Набор цифровых датчиков</span></div>
                <div class="table__col"><span>В комплекте</span></div>
                <div class="table__col"><span>Дополнительная комплектация</span></div>
              </div>
            </div>
            <div class="table__body">
              <div class="table__row">
                <div class="table__col table__col_title"><span class="desktop">Базовая</span><span class="mobile">Базовая комплектация</span></div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Набор цифровых датчиков</span></div>
                  <div class="table__list table__list_sensors"><span>Датчик Освещённости</span><span>Датчик Расстояния</span><span>Датчик Тока 2.5 A</span><span>Датчик Угловой Скорости</span>
                  </div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>В комплекте</span></div>
                  <div class="table__list"><span>Провода и USB flash с ПО, методичка, инструкции по применению, сертификаты, спецификация</span></div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Дополнительная комплектация</span></div>
                  <div class="table__list"><span>Линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл, линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл </span></div>
                </div>
              </div>
              <div class="table__row">
                <div class="table__col table__col_title"><span class="desktop">Стандартная</span><span class="mobile">Стандартная комплектация</span></div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Набор цифровых датчиков</span></div>
                  <div class="table__list table__list_sensors"><span>Датчик Освещённости</span><span>Датчик Расстояния</span><span>Датчик Тока 2.5 A</span><span>Датчик Угловой Скорости</span>
                  </div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>В комплекте</span></div>
                  <div class="table__list"><span>Провода и USB flash с ПО, методичка, инструкции по применению, сертификаты, спецификация</span></div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Дополнительная комплектация</span></div>
                  <div class="table__list"><span>Линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл, линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл </span></div>
                </div>
              </div>
              <div class="table__row">
                <div class="table__col table__col_title"><span class="desktop">Профильная</span><span class="mobile">Профильная комплектация</span></div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Набор цифровых датчиков</span></div>
                  <div class="table__list table__list_sensors"><span>Датчик Освещённости</span><span>Датчик Расстояния</span><span>Датчик Тока 2.5 A</span><span>Датчик Угловой Скорости</span>
                  </div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>В комплекте</span></div>
                  <div class="table__list"><span>Провода и USB flash с ПО, методичка, инструкции по применению, сертификаты, спецификация</span></div>
                </div>
                <div class="table__col">
                  <div class="table__label mobile"><span>Дополнительная комплектация</span></div>
                  <div class="table__list"><span>Линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл, линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-button"><a class="btn" href="#" data-dismiss="modal">Закрыть</a></div>
    </div>
  </div>
</div>
<!-- End modal compare-->