header.header
    .container_center
        .header__row
            .header__col
                a.logo(href="/")
                    img.close_nav_js.active(src="/img/logo.svg", alt="logo")
                    img.open_nav_js(src="/img/logo_w.svg", alt="logo")

            .header__col.header__col_switch
                .switch
                    label.switch__label
                        input(type="checkbox" id="themeCheckbox" name="themeCheckbox")
                        span
                            i
            .header__col

                .search.desktop
                    .search-form__inner
                        form.search-form
                            input(type="text" placeholder="Введите для поиска").search-form__input
                            button.btn_search
                                i.icon_loop
                .header__action

                    .header__button.feedback-toggle-js
                        i.icon_phone

                    .header__content
                        a.header__close(href="#")
                        .header__title
                            span.desktop Наши контакты
                            span.mobile Наш телефон
                        .header__list
                            .header__item.desktop
                                .header__icon
                                    i.icon_location
                                span Россия г. Санкт-Петербург ул.Парковая, д. 4А оф 325
                            .header__item
                                .header__icon
                                    i.icon_phone
                                span.desktop +7 (800) 51 11 202
                                a.mobile(href="tel:+7 (800) 51 11 202") +7 (800) 51 11 202

                            .header__label.mobile
                                span Вы можете позвонить нам в любое время
                            .header__btn.mobile
                                a.btn(href="#") Позвонить

                            .header__item.desktop
                                .header__icon
                                    i.icon_mail
                                span info@robiclab.ru


            .header__col.mobile
                .header__action
                    .header__button.search-toggle-js
                        i.icon_loop
                    .header__content.header__content_search
                        a.header__close(href="#")
                        .header__title
                            span Поиск
                        .search
                            .search-form__inner
                                form.search-form
                                    input(type="text" placeholder="Введите для поиска").search-form__input
                                    button.btn_search
                                        i.icon_loop




            .header__toggle
                .toggle
                    .toggle__button
                        .toggle__toggle
                    .toggle__label.desktop
                        span меню


        .header__nav.figure

            ul.figure__list
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li

            .navbar__content
                //- .navbar__header
                //-     .container_center
                .navbar__main
                    .container_center
                        nav.navbar#navbar
                            .navbar__row
                                .navbar__col.navbar__col_nav_sm.navbar__col_icon
                                    .navbar__label
                                        span Цифровые лаборатории
                                    .navbar__row
                                        ul.menu
                                            li.menu-item
                                                a(href="#") Физика
                                                    i.icon_physics
                                            li.menu-item
                                                a(href="#") Математика
                                                    i.icon_maths
                                            li.menu-item
                                                a(href="#") Химия
                                                    i.icon_chemistry
                                            li.menu-item
                                                a(href="#") Биология
                                                    i.icon_biology
                                            li.menu-item
                                                a(href="#") География
                                                    i.icon_geography
                                            li.menu-item
                                                a(href="#") Естествознание
                                                    i.icon_natural_science
                                            li.menu-item
                                                a(href="#") Экология
                                                    i.icon_ecology
                                            li.menu-item
                                                a(href="#") ОБЖ
                                                    i.icon_obj

                                        ul.menu
                                            li.menu-item
                                                a(href="#") Окружающий мир
                                                    i.icon_world
                                            li.menu-item
                                                a(href="#") Нанотехнологии
                                                    i.icon_nanotechnology
                                            li.menu-item
                                                a(href="#") Для дошкольного образования и начальной школы
                                                    i.icon_baby
                                            li.menu-item
                                                a(href="#") Основы технологии и инженерии
                                                    i.icon_engineering
                                            li.menu-item
                                                a(href="#") Астрономия
                                                    i.icon_astronomy
                                            li.menu-item
                                                a(href="#") История и Археология
                                                    i.icon_history
                                            li.menu-item
                                                a(href="#") Физическая культура
                                                    i.icon_physical

                                .navbar__col.navbar__col_nav_sm
                                    .navbar__label
                                        span Справочный центр
                                    ul.menu
                                        each item in ['Цифровая лаборатория', 'РобикЛаб Нейро', 'Практикум', 'Робототехника',]
                                            li.menu-item
                                                a(href="#")=item


                                .navbar__col
                                    ul.menu
                                        each item in ['Главная', 'Цифровые лаборатории', 'Нейролаб', 'Робототехника', 'Практикум', 'Видео экспериментов', 'Доставка и заказ', 'Контакты' ]
                                            li.menu-item
                                                a(href="#")=item


                .navbar__bottom
                    .container_center
                        .navbar__row
                            .navbar__col
                                ul.navbar__download
                                    li
                                        i.icon_windows
                                        a(href="#") Скачать программу на Windows
                                    li
                                        i.icon_linux
                                        a(href="#") Скачать программу на Linux
                                    li
                                        i.icon_mac
                                        a(href="#") Скачать программу на Mac


                            .navbar__col
                                .navbar__button
                                    a.btn.btn_transparent(href="#")
                                        span Попробовать WEB-версию
                                        i.icon_arrow_right
