// Begin Modal compare
.modal.fade.compare#compare
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-title
                span Сравнение наборов лабораторий по математике
            .modal-body
                .modal-table
                    .table
                        .table__head
                            .table__row
                                each item in ['Комплектация', 'Набор цифровых датчиков', 'В комплекте', 'Дополнительная комплектация']
                                    .table__col
                                        span=item
                        .table__body
                            each title in [ {mobil: 'Базовая комплектация', desctop: 'Базовая'}, {mobil: 'Стандартная комплектация', desctop: 'Стандартная'}, {mobil: 'Профильная комплектация', desctop: 'Профильная'} ]

                                .table__row
                                    .table__col.table__col_title
                                        span.desktop=title.desctop 
                                        span.mobile=title.mobil 
                                    .table__col
                                        .table__label.mobile
                                            span Набор цифровых датчиков
                                        .table__list.table__list_sensors
                                            each item in ['Датчик Освещённости', 'Датчик Расстояния', 'Датчик Тока 2.5 A', 'Датчик Угловой Скорости']
                                                span=item

                                    .table__col
                                        .table__label.mobile
                                            span В комплекте
                                        .table__list
                                            span Провода и USB flash с ПО, методичка, инструкции по применению, сертификаты, спецификация
                                    .table__col
                                        .table__label.mobile
                                            span Дополнительная комплектация
                                        .table__list
                                            span Линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл, линейка, штатив, стакан 250 мл, боберка 5 штук, пробка 4 шт, бутылка 250мл 

            .modal-button
                a.btn(href="#" data-dismiss="modal") Закрыть
// End modal compare



// Begin Modal info
.modal.fade.info#info
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .form__message
// End modal info


// Begin Modal reportBug
.modal.fade.reportBug#reportBug
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")

            // begin form
            .form__title
                span Сообщить об ошибке

            .form__subtitle
                span Раскажите нам подробнее об ошибке и мы её исправим

            form.form.form_grid(action="send.php")
                input(type="hidden" name="subject" value="форма в футоре")
                input(type="hidden" name="notspam" value="")


                .form__row
                    .form__label
                        span Ваше имя*
                    input(type="text" required placeholder="Ввведите ваше имя")

                .form__row
                    .form__label
                        span Телефон*
                    input(type="text" class="tel" required placeholder="+7 000 000 000")


                .form__row
                    .form__label
                        span Ваша почта*
                    input(type="email" required placeholder="Ввведите ваш email")


                .form__row.form__row_textarea
                    .form__label
                        span Ваше сообщение
                    textarea(type="text" placeholder="Ввведите ваше сообщение")


                .form__row
                    .button
                        button.btn(type="submit")
                            span Отправить

                .form__row
                    .form__text
                        span Нажимая кнопку «Отправить» вы соглашаетесь с обработой ваших персональных данных и принимаете <a href="#">политику конфендициальности</a>


            // end form

// End modal reportBug


// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo
