extends ../layout/layout.pug
block variable
    -var path = '../';
    -var classScroll = 'main_scroll';
    -var pageScroll = true;


block content

    // begin firstscreen
    section#firstscreen.firstscreen.bg.section.section_scrool
        .container_center
            h2.section__title
                span firstscreen
            .firstscreen__content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .firstscreen__left
                .firstscreen__right

        //- .scroolInfo
        //-     .scroolInfo__icon
        //-         i.icon_mouse
        //-     .scroolInfo__label
        //-         span Scroll
        //-     .scroolInfo__mask.bg

    // end firstscreen

    // begin digitalLab
    section#digitalLab.digitalLab.section.bg.section_scrool
        .container_center
            h2.section__title
                span digitalLab
            .digitalLab__content
                .digitalLab__left
                .digitalLab__right

    // end digitalLab

    // begin neuro
    section#neuro.neuro.section.bg.section_scrool
        .container_center
            h2.section__title
                span neuro
            .neuro__content
                .neuro__left
                .neuro__right

    // end neuro

    // begin practical
    section#practical.practical.section.bg.section_scrool
        .container_center
            h2.section__title
                span Практикум
            .practical__content
                .practical__left
                .practical__right

        //- .scroolInfo
        //-     .scroolInfo__icon
        //-         i.icon_mouse
        //-     .scroolInfo__label
        //-         span Scroll
        //-     .scroolInfo__mask.bg

    // end practical

    // begin robotics
    section#robotics.robotics.section.bg.section_scrool
        .container_center
            h2.section__title
                span robotics
            .robotics__content
                .robotics__left
                .robotics__right

    // end robotics

    // begin footerScroll
    section#footerScroll.footerScroll.section.bg.section_scrool
        .container_center
            h2.section__title
                span footerScroll
            .footerScroll__content
                .footerScroll__left
                .footerScroll__right

    // end footerScroll
