extends ../layout/layout.pug
block variable
    -var path = '../';
    -var pathTest = '../home/';
    -var classScroll = 'main_scroll';
    -var pageScroll = true;


block content

    // begin firstscreen
    section#firstscreen.firstscreen.bg.section.section_scrool
        .container_center
            .firstscreen__content
                h1.firstscreen__title
                    span Лаборатория <br>«Робиклаб»
                .hexagon

                    button.hexagon__button(id="Globus")
                        .hexagon__icon
                            i.icon_geography
                        .hexagon__label
                            span География

                    button.hexagon__button(id="Bottle")
                        .hexagon__icon
                            i.icon_chemistry
                        .hexagon__label
                            span Химия

                    button.hexagon__button.disabled(id="#")
                        .hexagon__icon
                            i.icon_biology
                        .hexagon__label
                            span Естествознание

                    button.hexagon__button.disabled(id="#")
                        .hexagon__icon
                            i.icon_maths
                        .hexagon__label
                            span Математика

                    button.hexagon__button.disabled(id="#")
                        .hexagon__icon
                            i.icon_chemistry
                        .hexagon__label
                            span Экология

                    button.hexagon__button.disabled(id="#")
                        .hexagon__icon
                            i.icon_maths
                        .hexagon__label
                            span Физика

                    button.hexagon__button
                        a(href="#").hexagon__link
                            .cor#cor

                        //- .hexagon__icon
                        //-     i.icon_arrow_right
                        //- .hexagon__label
                        //-     span Смотреть все<br> предметы


        .following.desktop.following-js
            .following__btn
            .following__label
                span Scroll
            .following__mask


    // end firstscreen

    // begin digitalLab
    section#digitalLab.digitalLab.section.bg.section_scrool.figure
        ul.figure__list.desktop
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li

        .container_center
            .digitalLab__content
                .digitalLab__left

                    .digitalLab__row

                        .digitalLab__macbook.bg
                            .chart.chart-light#chartDesctop
                            .chart.chart-dark#chartDesctopDark

                        .digitalLab__col
                            .digitalLab__pwa.bg

                            .digitalLab__iphone.bg
                                .chart.chart-light#chartMobile
                                .chart.chart-dark#chartMobileDark

                    .digitalLab__label
                        span * - PWA является способность трансформировать сайт в приложение. При этом выглядит оно как полноценный <br> mobile app, но имеет совсем небольшой размер, тратит меньше ресурсов, а загружается быстрее.



                .digitalLab__right
                    h2.section__title.animate-js(data-aos="fade-right")
                        span Цифровая лаборатория
                    .section__content
                        p Современный инструмент обучения, позволяющий проводить эксперименты на более качественном уровне. Идеально подходит для проектов и учебно-исследовательских испытаний.

                        p Датчики не требуют дополнительных согласующих устройств (регистраторов данных) и напрямую подключаются к компьютеру или ноутбуку.

                    .section__download
                        .download
                            .download__item
                                .download__icon
                                    i.icon_windows
                                .download__link
                                    a(href="#") Скачать на Windows

                            .download__item
                                .download__icon
                                    i.icon_linux
                                .download__link
                                    a(href="#") Скачать на Linux

                            .download__item
                                .download__icon
                                    i.icon_mac
                                .download__link
                                    a(href="#") Скачать на Mac

                    .section__button.section__button_buttons
                        a.btn.btn_transparent(href="#") 
                            span Подробнее о продукте
                            i.icon_arrow_right

                        a.btn(href="#") 
                            span WEB-версия
                            i.icon_arrow_right




        .following.desktop.following-js
            .following__btn
            .following__label
                span Scroll
            .following__mask

    // end digitalLab

    // begin neuro
    section#neuro.neuro.section.bg.section_scrool.figure
        ul.figure__list.desktop
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        .container_center
            .neuro__content
                .neuro__left
                    .neuro__macbook.bg
                .neuro__right
                    h2.section__title.animate-js(data-aos="fade-left")
                        span РобикЛаб Нейро
                    .section__content
                        p Современный инструмент обучения, позволяющий проводить эксперименты на более качественном уровне. Идеально подходит для проектов и учебно-исследовательских испытаний.
                        p Датчики не требуют дополнительных согласующих устройств (регистраторов данных) и напрямую подключаются к компьютеру или ноутбуку.

                    .section__download
                        .download
                            .download__item
                                .download__icon
                                    i.icon_windows
                                .download__link
                                    a(href="#") Скачать на Windows

                            .download__item
                                .download__icon
                                    i.icon_linux
                                .download__link
                                    a(href="#") Скачать на Linux

                    .section__button
                        a.btn.btn_transparent(href="#") 
                            span Подробнее о продукте
                            i.icon_arrow_right

        .following.desktop.following-js
            .following__btn
            .following__label
                span Scroll
            .following__mask

    // end neuro

    // begin practical
    section#practical.practical.section.bg.section_scrool.figure
        ul.figure__list.desktop
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        .container_center
            .practical__content
                .practical__left
                    .practical__hand.bg
                    .practical__flach.bg.animate-js(data-aos="zoom-in-up" data-aos-delay="300")
                        //- video.practical__video(width="100%" allowfullscreen="true" muted="muted" autoplay="autoplay" playsinline="playsinline" loop="loop")
                        //-     source(src="../media/flach.mp4" type="video/mp4")
                        //- source(src="media/main-video.webm" type="video/webm")



                .practical__right
                    h2.section__title.animate-js(data-aos="fade-left")
                        span Практикум

                    .section__content
                        p Современный инструмент обучения, позволяющий проводить эксперименты на более качественном уровне. Идеально подходит для проектов и учебно-исследовательских испытаний.
                        p Датчики не требуют дополнительных согласующих устройств (регистраторов данных) и напрямую подключаются к компьютеру или ноутбуку.

                    .section__button
                        a.btn.btn_transparent(href="#") 
                            span Подробнее о продукте
                            i.icon_arrow_right

        .following.desktop.following-js
            .following__btn
            .following__label
                span Scroll
            .following__mask

    // end practical

    // begin robotics
    section#robotics.robotics.section.bg.section_scrool.figure
        ul.figure__list.desktop
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        .container_center

            .robotics__content
                .robotics__left
                    .robotics__list
                        // robotics__item 1
                        .robotics__item.animate-js(data-aos="fade-down-right" data-aos-delay="200")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_geography
                                .robotics__label
                                    span География

                        // robotics__item 2
                        .robotics__item.animate-js(data-aos="fade-down-left" data-aos-delay="400")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_chemistry
                                .robotics__label
                                    span Химия

                        // robotics__item 6
                        .robotics__item.animate-js(data-aos="fade-right" data-aos-delay="1200")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_physics
                                .robotics__label
                                    span Физика

                        // robotics__item 3    
                        .robotics__item.animate-js(data-aos="fade-left" data-aos-delay="600")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_biology
                                .robotics__label
                                    span Естествознание

                        // robotics__item 5
                        .robotics__item.animate-js(data-aos="fade-up-right" data-aos-delay="1000")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_maths
                                .robotics__label
                                    span Математика

                        // robotics__item 4
                        .robotics__item.animate-js(data-aos="fade-up-left" data-aos-delay="800")
                            a(href="#").robotics__link
                                .robotics__icon
                                    i.icon_chemistry
                                .robotics__label
                                    span Экология
                    .robotics__hand.bg

                .robotics__right
                    h2.section__title.animate-js(data-aos="fade-right")
                        span Робототехника

                    .section__content
                        p Современный инструмент обучения, позволяющий проводить эксперименты на более качественном уровне. Идеально подходит для проектов и учебно-исследовательских испытаний.
                        p Датчики не требуют дополнительных согласующих устройств (регистраторов данных) и напрямую подключаются к компьютеру или ноутбуку.

                    .section__button
                        a.btn.btn_transparent(href="#") 
                            span Подробнее о продукте
                            i.icon_arrow_right

        .following.desktop.following-js
            .following__btn
            .following__label
                span Scroll
            .following__mask

    // end robotics

    // begin footerScroll
    section#footerScroll.footerScroll.section.bg.section_scrool.figure
        ul.figure__list.desktop
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        .navbar__content
            .navbar__main
                .container_center
                    nav.navbar
                        .navbar__row
                            .navbar__col.navbar__col_nav_sm.navbar__col_icon.desktop
                                .navbar__label
                                    span Цифровые лаборатории
                                .navbar__row
                                    ul.menu
                                        li.menu-item
                                            a(href="#") Физика
                                                i.icon_physics
                                        li.menu-item
                                            a(href="#") Математика
                                                i.icon_maths
                                        li.menu-item
                                            a(href="#") Химия
                                                i.icon_chemistry
                                        li.menu-item
                                            a(href="#") Биология
                                                i.icon_biology
                                        li.menu-item
                                            a(href="#") География
                                                i.icon_geography
                                        li.menu-item
                                            a(href="#") Естествознание
                                                i.icon_natural_science
                                        li.menu-item
                                            a(href="#") Экология
                                                i.icon_ecology
                                        li.menu-item
                                            a(href="#") ОБЖ
                                                i.icon_obj

                                    ul.menu
                                        li.menu-item
                                            a(href="#") Окружающий мир
                                                i.icon_world
                                        li.menu-item
                                            a(href="#") Нанотехнологии
                                                i.icon_nanotechnology
                                        li.menu-item
                                            a(href="#") Для дошкольного образования и начальной школы
                                                i.icon_baby
                                        li.menu-item
                                            a(href="#") Основы технологии и инженерии
                                                i.icon_engineering
                                        li.menu-item
                                            a(href="#") Астрономия
                                                i.icon_astronomy
                                        li.menu-item
                                            a(href="#") История и Археология
                                                i.icon_history
                                        li.menu-item
                                            a(href="#") Физическая культура
                                                i.icon_physical

                            .navbar__col.navbar__col_nav_sm.desktop
                                .navbar__label
                                    span Справочный центр
                                ul.menu
                                    each item in ['Цифровая лаборатория', 'РобикЛаб Нейро', 'Практикум', 'Робототехника',]
                                        li.menu-item
                                            a(href="#")=item


                            .navbar__col
                                .navbar__label
                                    span Контакты
                                .navbar__contacts
                                    .contacts
                                        .contacts__list
                                            .contacts__item
                                                i.icon_phone
                                                span.desktop 8 (800) 51 11 202
                                                a.mobile(href="tel:+8 (800) 51 11 202") 8 (800) 51 11 202

                                            .contacts__item
                                                i.icon_clock
                                                span пн-пт, 10:00 – 18:00

                                            .contacts__item
                                                i.icon_mail
                                                span.desktop info@robiclab.ru
                                                a.mobile(href="mailto:info@robiclab.ru") info@robiclab.ru

                                            .contacts__item
                                                i.icon_location
                                                span Россия г. Санкт-Петербург,<br> ул. Парковая, 4 оф 325

                                            .contacts__item
                                                i.icon_certification
                                                span ИНН: 7810697745

            .navbar__bottom
                .container_center
                    .navbar__row
                        .navbar__links
                            span © ООО"робиклаб" 2011 - <script type="text/javascript">document.write(new Date().getFullYear());</script> Все права защищены.
                            a(href="#") Политика конфендициальности
                            a(href="#") Карта сайта
                            a(href="#") Сообщить об ошибке

            .footerScroll__hand.bg.desktop


    // end footerScroll
