extends layout/layout.pug

block content

    // begin testNav
    section#testNav.testNav.section.section_scroll
        .container_center
            h2.section__title
                span Навиганция
            ul
                li
                    a(href="home") главная

    // end testNav

    // begin testButton
    section#testButton.testButton.section(style="background-color: #ddd;")
        .container_center
            h2.section__title
                span Кнопки
            .testButton__content
                a.btn(href="#") 
                    span Оформить покупку
                br
                br
                a.btn.btn_transparent(href="#") 
                    span Инструкция
                br
                br
                a.btn(href="#") 
                    span WEB-версия
                    i.icon_arrow_right
                br
                br
                a.btn.btn_transparent(href="#") 
                    span Подробнее о продукте
                    i.icon_arrow_right
                br
                br
                a.btn.btn_circle(href="#") 
                    span Смотреть все предметы
                    i.icon_arrow_circle
                br
                br
                a.btn.btn_circle.btn_transform(href="#") 
                    span Скачать инструкцию
                    i.icon_arrow_circle
    // end testButton
