extends layout/layout.pug

block variable
    -var path = '';
    -var classHeader = 'header_primary';
    //- -var classScroll = 'main_scroll';
    //- -var pageScroll = false;

block content


    // begin testNav
    section#testNav.testNav.section(style="background-color: #31343D;")
        .container_center
            h2.section__title
                span Навиганция
            ul(style="color: #fff;font-size:1.5em;")
                li
                    a(href="home")(style="color: #fff;") главная
                li
                    a(href="products")(style="color: #fff;") продукты
                li
                    a(href="product")(style="color: #fff;") продукт (Цифровая лаборатория по математике)
                li
                    a(href="practical")(style="color: #fff;") практикум (Практикум по физике)
                li
                    a(href="delivery")(style="color: #fff;") Доставка и заказ
                li
                    a(href="contacts")(style="color: #fff;") Контакты

    // end testNav

    // begin testButton
    section#testButton.testButton.section(style="background-color: #282B33;")
        .container_center
            h2.section__title
                span Кнопки
            .testButton__content
                a.btn(href="#") 
                    span Оформить покупку
                br
                br
                a.btn.btn_transparent(href="#") 
                    span Инструкция
                br
                br
                a.btn(href="#") 
                    span WEB-версия
                    i.icon_arrow_right
                br
                br
                a.btn.btn_transparent(href="#") 
                    span Подробнее о продукте
                    i.icon_arrow_right
                br
                br
                a.btn.btn_circle(href="#") 
                    span Смотреть все предметы
                    i.icon_arrow_circle
                br
                br
                a.btn.btn_circle.btn_transform(href="#") 
                    span Скачать инструкцию
                    i.icon_arrow_circle

                br
                br
                br
                br

            h2.section__title
                span Модальные окна
            .testButton__content
                // Button trigger modal compare
                a.btn.show_js(href="#compare") Сравнение наборов лабораторий по математике
                br
                br
                a.btn.show_js(href="#reportBug") Сообщить об ошибке


    // end testButton
