extends layout/layout.pug

block content

    // begin testNav
    section#testNav.testNav.section.section_scroll
        .container_center
            h2.section__title
                span Навиганция
            ul
                li
                    a(href="home") главная

    // end testNav
