extends ../layout/layout.pug
block variable
    -var path = '../';
    //- -var classScroll = 'main_scroll';
    //- -var pageScroll = false;


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span.kb_title Цифровая лаборатория по математике

    // end breadcrumbs

    // begin products
    section#products.products.section.bg
        .container_center

            .products__top
                h1.section__title
                    span Цифровые лаборатории

                .products__list
                    .products__item.products__item_light
                        .products__icon
                            i.icon_physics
                        .products__label
                            span Физика


                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Химия


                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span География

                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Экология

                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Окружающий мир


                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Дошкольное<br>образование  

                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Астрономия

                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Физическая <br>культура


                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Биология

                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Математика

                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Естествознание

                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span ОБЖ

                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Нанотехнологии


                    .products__item
                        .products__icon
                            i.icon_geography
                        .products__label
                            span Основы технологии и<br>инженерии


                    .products__item.products__item_light
                        .products__icon
                            i.icon_geography
                        .products__label
                            span История и археология



                .products__hand.bg

            .products__bottom
                .products__box.bg

                .products__content
                    h2.section__title
                        span Цифровые лаборатории <br>РобикЛаб
                    .section__content
                        p Цифровые лаборатории — это комплект оборудования, включающий в себя набор проводных и беспроводных цифровых датчиков, регистрирующих аналоговый сигнал различных физических величин.
                        p Данные поступают на сам датчик и преобразуются в цифровой вид и уже с помощью интерфейса для подключения датчиков к компьютеру через USB или беспроводную связью поступают на пк и отображаются на экране монитора в специальной программе Робиклаб в виде графиков и парабол. Существует альтернативная возможность вывода данных в числовом виде для таблиц excel.
                        p Данная программа позволяет собирать, анализировать и визуализировать поступающие данные с датчиков, что в свое время дает возможность изучить процессы различных природных явлений и проводить множество опытов по таким предметам как физика, математика, химия, естествознания, биология и т.д.
                    .section__button
                        a.btn.btn_transparent(href="#") 
                            span Узнать о цифровых лабораториях
                            i.icon_arrow_right






    // end products
